<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
		<meta http-equiv="description" content="this is my page">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">

	</head>

	<body>
		<font face="tahoma" size="1">=======================================================================<br>
			<font color="0000FF"><b>&gt; SIM Cloud Changes of v3.04 </b>
		</font>
		<br>=======================================================================<br>
			<font color="000000">1.
			General Features<br>&nbsp;&nbsp;&nbsp; Add English/Chinese
			Languages<br>&nbsp;&nbsp;&nbsp; Add Left Toolbar and Maximized
			Module Window<br>&nbsp;&nbsp;&nbsp; Add Auto Associated Focus
			among Multiple Modules<br>&nbsp;&nbsp;&nbsp; Add Alarm &amp; Log
			Module<br>&nbsp;&nbsp;&nbsp; Add Alarm Push via Email and SMS<br>&nbsp;&nbsp;&nbsp;
			Update Alarm Definitions<br>&nbsp;&nbsp;&nbsp; Update Running
			Logs<br>2. Authentication Server( CLOUD_DNS )<br>&nbsp;&nbsp;&nbsp;
			Add Backup Files of Public Cloud<br>&nbsp;&nbsp;&nbsp; Add
			Backup Files of Local Server<br>&nbsp;&nbsp;&nbsp; Add Move
			Function to move one domain to another server<br>3. Public Cloud
			Server( CLOUD_EXT )<br>&nbsp;&nbsp;&nbsp; Add Backup Domain
			Configuration To Cloud<br>&nbsp;&nbsp;&nbsp; Add Restore Domain
			Configuration From Cloud<br>4. Local Server( LOCAL )<br>&nbsp;&nbsp;&nbsp;
			Add Backup Server Configuration To Cloud<br>&nbsp;&nbsp;&nbsp;
			Add Restore Server Configuration From Cloud<br>5. SIM Group Info<br>&nbsp;&nbsp;&nbsp;
			Add [BEGIN] Keyword in Balance Prefix to Get Balance Before Keywords<br>&nbsp;&nbsp;&nbsp;
			Add Init New SIM Control to Clear SIM Status and Statistics<br>6.
			SIM Card List<br>&nbsp;&nbsp;&nbsp; Add Learn Number Action<br>&nbsp;&nbsp;&nbsp;
			Rename "Restore Default Settings" to "Clear SIM Status"<br>&nbsp;&nbsp;&nbsp;
			Rename "Clear PM Statistics Data" to "Clear SIM Status and
			Statistics"<br>
			<br>=======================================================================<br>&gt;
			<b>DWG Changes of v9.02-rc1</b> <br>=======================================================================<br>1.
			Add DBO Function;<br>
			<br>=======================================================================<br>&gt;
			<b>DWG Changes of v8.06-rc1</b> <br>=======================================================================<br>1.
			Fix Firmware Update Timeout Issue;<br>
			<br>=======================================================================<br>&gt;
			<b>SIMBANK Changes of v2.06-rc2</b> <br>=======================================================================<br>1.
			Fix Red LED issue;
			<br>
			<br>=======================================================================<br>&gt;
			<b>SIM Cloud Changes of v2.16 <br></b>=======================================================================<br>1.
			Update Left-Call-Time Calculation;<br>2. Add SCTP over UDP;<br>3.
			Fix Minor Bugs.<br/>
			</font>
			</font>
	<p></p>
	<p></p>
	<p></p>
	<p></p>

		<font face="tahoma" size="1">=======================================================================<br>
			<font color="blue"><b>&gt; SIM Cloud Changes of v2.12 </b>
		</font> <br>=======================================================================<br>
			<font color="000000">1. Local Server License<br>&nbsp;&nbsp;&nbsp;
				Add Local Server under one Domain;<br>&nbsp;&nbsp;&nbsp; Check
				TRIAL/PREMIUM Balance of Local Server;<br>&nbsp;&nbsp;&nbsp;
				Recharge TRIAL Balance for Local Server;<br>&nbsp;&nbsp;&nbsp;
				Recharge PREMIUM Balance for Local Server;<br>&nbsp;&nbsp;&nbsp;
				Renew Local Server License at www.dinstarcloud.com;<br>&nbsp;&nbsp;&nbsp;
				Reset Local Server License at www.dinstarcloud.com;<br>&nbsp;&nbsp;&nbsp;
				Export Local Server License to license.xml file;<br>&nbsp;&nbsp;&nbsp;
				Max SIM Card Control by Local Server License;<br>&nbsp;&nbsp;&nbsp;
				HBM Features Control by Local Server License;<br>&nbsp;&nbsp;&nbsp;
				TRIAL License MUST be running with Online Authentication;<br>&nbsp;&nbsp;&nbsp;
				PREMIUM License support Offline Authentication by license.xml file;<br>2.
				Public Domain License<br>&nbsp;&nbsp;&nbsp; Check Public Domain
				TRIAL/PREMIUM Balance;<br>&nbsp;&nbsp;&nbsp; Recharge for
				Public Domain;<br>&nbsp;&nbsp;&nbsp; Apply Public Domain
				License at www.dinstarcloud.com;<br>&nbsp;&nbsp;&nbsp; Max SIM
				Card Control by Public Domain License;<br>&nbsp;&nbsp;&nbsp;
				HBM Features Control by Public Domain License;</font> <br>3. SIM Group
			Info<br>&nbsp;&nbsp;&nbsp; Add Specific IMEI TACs, support to
			use these TACs in dynamic IMEIs;<br>&nbsp;&nbsp;&nbsp; Add
			Initial SIM Balance, for left-call-time control;<br>4. Domain
			Info<br>&nbsp;&nbsp;&nbsp; Add Force Clear Control, for SIM
			Statistics Data;<br>&nbsp;&nbsp;&nbsp; Add Force Delete Control,
			for Unused OFFLINE SIM Card;<br>&nbsp;&nbsp;&nbsp; Add PM
			Statistics Control, for Port-based Statistics Data, reduce database
			records;<br>&nbsp;&nbsp;&nbsp; Add PM Statistics Control, for
			SIM-based Statistics Data, reduce database records; <br>5. Site
			Info<br>&nbsp;&nbsp;&nbsp; Add Next Roaming Site, for SIM Site
			Roaming Control as site-1 &gt;&gt; site-2 &gt;&gt; site-3 &gt;&gt;
			site-1;<br> 6. Support User Role definitions, and User Privilege
			management.<br> <br>=======================================================================<br>
			<b>&gt; DWG Changes of v8.01-rc6 </b> <br>=======================================================================<br>1.
			Support GSM Errcode for Fail CDR;<br>2. Support NULL Number in
			Test Call;<br>3. Fix CALL_NOT_AVAIABLE Issue in Test Call;<br>4.
			Cancel 60s Limitation of Test Call, change to 1 hour as Max Test
			Duration;<br> <br>=======================================================================<br>
			<b>&gt; SIMBANK Changes of v2.04-rc1 </b> <br>=======================================================================<br>1.
			Fix NULL Password Issue of Cloud Server;<br>2. Reduce Bandwidth
			Used between SIMBANK and Cloud Server( 30s );<br>3. Update SIM
			LED, red for DISABLED, STOPPED and NO_BALANCE;<br>4. Fix Switch
			Timeout Issue while SIM Unbind/Bind again( only once timeout );<br>5.
			Support Morocco SIM Card for SIM Compatible Issue;<br> <br>
		</font>
		<p></p>
		<p></p>
		<p></p>
		<font face="tahoma" size="1">=======================================================================<br>
			<font color="blue"><b>&gt; SIM Cloud Changes of v2.11</b>
		</font> <br>=======================================================================<br>
		</font>
		<font face="tahoma" size="1">1. Configuration---Toolbar</font>
		<font size="1"><br> <font face="tahoma">&nbsp;&nbsp;&nbsp;
				Add Edit/Cancel/Commit operations, more strictly checking;</font> <br>
			<font face="tahoma">2. Group Info---Switchover</font> <br> <font
			face="tahoma">&nbsp;&nbsp;&nbsp; Add GROUP_TIME_CARD in
				switchover conditions;</font> <br> <font face="tahoma">&nbsp;&nbsp;&nbsp;
				Be used to move SIM Card to next group after xx hours from the begin
				in this group;</font> <br> <font face="tahoma">&nbsp;&nbsp;&nbsp;
				Add WORK_TIME_CARD in switchover conditions;</font> <br> <font
			face="tahoma">&nbsp;&nbsp;&nbsp; Be used for moving SIM card
				to next group after xx hours;</font> <br> <font face="tahoma">3.
				Group Info---HBM_ACDR</font> <br> <font face="tahoma">&nbsp;&nbsp;&nbsp;
				Add more HBM_ACDR conditions of Short CDR, Fail CDR and Low ASR;</font> <br>
			<font face="tahoma">4. Group Info---Detail</font> <br> <font
			face="tahoma">&nbsp;&nbsp;&nbsp; Add Next Blocked Group, move
				BLOCKED SIM card to Next Blocked Group;</font> <br> <font
			face="tahoma">&nbsp;&nbsp;&nbsp; NO_BALANCE SIM card still be
				moved to Next Work Group;</font> <br> <font face="tahoma">&nbsp;&nbsp;&nbsp;
				Notes: BLOCKED Conditions of SIM card:</font> <br> <font face="tahoma">&nbsp;&nbsp;&nbsp;
				(1) promotion apply fail retries;</font> <br> <font face="tahoma">&nbsp;&nbsp;&nbsp;
				(2) balance check fail retries;</font> <br> <font face="tahoma">&nbsp;&nbsp;&nbsp;
				(3) blocked sms/ussd notifications;</font> <br> <font face="tahoma">&nbsp;&nbsp;&nbsp;
				(4) HBM_ACDR, including Short CDR, Fail CDR, Low ASR;</font> <br> <font
			face="tahoma">5. Group Info---Balance Check</font> <br> <font
			face="tahoma">&nbsp;&nbsp;&nbsp; Support request/confirm/reply
				interworking in balance inquiring;</font> <br> <font face="tahoma">6.
				SIM Card List---Actions</font> <br> <font face="tahoma">&nbsp;&nbsp;&nbsp;
				Support directly sending SMS/USSD/CALL;</font> <br> <font
			face="tahoma">7. DWG/SIMBANK---Default SIM Group</font> <br> <font
			face="tahoma">&nbsp;&nbsp;&nbsp; Support port-based setting
				for DWG/SIMBANK Port;</font> <br> <font face="tahoma">&nbsp;&nbsp;&nbsp;
				Add new SIM card into specific SIM Group by Port, not only one for
				one device;</font> <br> <font face="tahoma"><br>=======================================================================<br>
				<b>&gt; DWG Changes of v8.02-rc2</b> <br>=======================================================================<br>1.
				Fix lost connection issue in SIM bind/unbind processing;<br>2.
				SIM Data Transmitting <br>&nbsp;&nbsp;&nbsp; Add Auto/Relay
				transmitting mode;<br>&nbsp;&nbsp;&nbsp; Auto: automatic
				choosing forwarding nodes of SIM Cloud;<br>&nbsp;&nbsp;&nbsp;
				Relay: force to transmit SIM Data thru SIM Cloud server;<br>3.
				Reduce CPU Load<br>&nbsp;&nbsp;&nbsp; CPU Load be less than 90%
				with 32 busy calls;<br>4. Fix SMS decode issue of long SMS with
				7bit coding;<br> <br>=======================================================================<br>
				<b>&gt; SIMBANK Changes of v2.03-rc1</b> <br>=======================================================================<br>1.
				Fix lost connection issue in SIM bind/unbind processing;<br> <br>
				<br> </font> </font>
	</body>
</html>
