<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
		<meta http-equiv="description" content="this is my page">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">

	</head>

	<body>
		<div>
			<font face="tahoma" size="2">=====================================================================<br>
			</font><font face="tahoma" size="2"><font color="0000FF"><b>&gt;DMCloud
						02320304</b>
			</font>
			<br>=====================================================================<br>支持TG云管理<br>
				<br>1.设备配置模块,支持TG设备、端口的基本配置，支持告警推送基本配置。<br>2.设备维护模块,支持TG设备重启，端口重置，syslog管理，支持syslog查看下载。<br>3.性能统计模块,支持设备，端口的统计信息列表查看下载，支持设备当前通话并发，ACD，ASR，CPU占用率等图形展示。<br>4.告警
				&amp; 日志模块，支持设备当前告警，告警历史，运行日志，用户操作日志等告警&amp;日志查看<br>5.用户权限管理模块,支持多级别用户管理，细粒度的用户权限管理<br>
			</font><font face="tahoma" size="2"><br>
				<br>=====================================================================<br>
				<b>&gt;MTG1000&nbsp;25.03.05.01</b>
			<br>=====================================================================<br>
				<br>基于&nbsp;MTG&nbsp;25.03.04.01制作<br>
				<br>1.合入补丁；<br>2.pstn时隙选择新增奇偶控；<br>3.新增CPU占用率监测，过高拒绝新呼叫；<br>4.新增NET_MNGT网管模块，监控NE/DSP/ETH/TGP/PRI/SS7/SIP的状态，异常告警，统计数据。<br>
			</font>
			<br>
			<font face="tahoma" size="2"><font face="tahoma" size="2">=====================================================================<br>
			</font><b>&gt;MTG&nbsp;25.03.04.01</b>
			</font>
			<br>
			<font face="tahoma" size="2"><font face="tahoma" size="2">=====================================================================<br>
					<br>
			</font>基于&nbsp;MTG&nbsp;25.03.03.04&nbsp;制作<br>1</font><font face="tahoma"
				size="2"><font face="tahoma" size="2">.</font>修正传真后不能切换回语音问题；<br>2</font><font
				face="tahoma" size="2"><font face="tahoma" size="2">.</font>修正SS7电路不能添加第17条数据；<br>3</font><font
				face="tahoma" size="2"><font face="tahoma" size="2">.</font>主叫号码支持长度由13为增加到19位；<br>4</font><font
				face="tahoma" size="2"><font face="tahoma" size="2">.</font>新增ss7对指定主被叫号码的跟踪；<br>5</font><font
				face="tahoma" size="2"><font face="tahoma" size="2">.</font>新增DSP跟踪；<br>6</font><font
				face="tahoma" size="2"><font face="tahoma" size="2">.</font>新增CED/CNG检测；<br>7</font><font
				face="tahoma" size="2"><font face="tahoma" size="2">.</font>完善7号模块；<br>8</font><font
				face="tahoma" size="2"><font face="tahoma" size="2">.</font>从Tg支持个数增加至16，从Tg总E1数限制在64.</font>
			<br>
			<br>
		</div>
		<p></p>
		<p></p>
		<p></p>
		<p></p>

	</body>
</html>
