<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dinstar.sim.dao.TblDomainGroupMapper" >
  <resultMap id="BaseResultMap" type="com.dinstar.sim.model.TblDomainGroup" >
    <id column="uuid" property="uuid" jdbcType="INTEGER" />
    <result column="domain_uuid" property="domainUuid" jdbcType="INTEGER" />
    <result column="name_cn" property="nameCn" jdbcType="CHAR" />
    <result column="name_en" property="nameEn" jdbcType="CHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="type_str" property="typeStr" jdbcType="CHAR" />
    <result column="detail_desc" property="detailDesc" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    uuid, domain_uuid, name_cn, name_en, type, type_str, detail_desc, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dinstar.sim.model.TblDomainGroupCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_domain_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_domain_group
    where uuid = #{uuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_domain_group
    where uuid = #{uuid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dinstar.sim.model.TblDomainGroupCriteria" >
    delete from tbl_domain_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dinstar.sim.model.TblDomainGroup" useGeneratedKeys="true" keyProperty="uuid">
    insert into tbl_domain_group (uuid, domain_uuid, name_cn, 
      name_en, type, type_str, detail_desc, 
      create_time, update_time)
    values (#{uuid,jdbcType=INTEGER}, #{domainUuid,jdbcType=INTEGER}, #{nameCn,jdbcType=CHAR}, 
      #{nameEn,jdbcType=CHAR}, #{type,jdbcType=INTEGER}, #{typeStr,jdbcType=CHAR}, #{detailDesc,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dinstar.sim.model.TblDomainGroup" useGeneratedKeys="true" keyProperty="uuid">
    insert into tbl_domain_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="domainUuid != null" >
        domain_uuid,
      </if>
      <if test="nameCn != null" >
        name_cn,
      </if>
      <if test="nameEn != null" >
        name_en,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="typeStr != null" >
        type_str,
      </if>
      <if test="detailDesc != null" >
        detail_desc,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=INTEGER},
      </if>
      <if test="domainUuid != null" >
        #{domainUuid,jdbcType=INTEGER},
      </if>
      <if test="nameCn != null" >
        #{nameCn,jdbcType=CHAR},
      </if>
      <if test="nameEn != null" >
        #{nameEn,jdbcType=CHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="typeStr != null" >
        #{typeStr,jdbcType=CHAR},
      </if>
      <if test="detailDesc != null" >
        #{detailDesc,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dinstar.sim.model.TblDomainGroupCriteria" resultType="java.lang.Integer" >
    select count(*) from tbl_domain_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_domain_group
    <set >
      <if test="record.uuid != null" >
        uuid = #{record.uuid,jdbcType=INTEGER},
      </if>
      <if test="record.domainUuid != null" >
        domain_uuid = #{record.domainUuid,jdbcType=INTEGER},
      </if>
      <if test="record.nameCn != null" >
        name_cn = #{record.nameCn,jdbcType=CHAR},
      </if>
      <if test="record.nameEn != null" >
        name_en = #{record.nameEn,jdbcType=CHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.typeStr != null" >
        type_str = #{record.typeStr,jdbcType=CHAR},
      </if>
      <if test="record.detailDesc != null" >
        detail_desc = #{record.detailDesc,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_domain_group
    set uuid = #{record.uuid,jdbcType=INTEGER},
      domain_uuid = #{record.domainUuid,jdbcType=INTEGER},
      name_cn = #{record.nameCn,jdbcType=CHAR},
      name_en = #{record.nameEn,jdbcType=CHAR},
      type = #{record.type,jdbcType=INTEGER},
      type_str = #{record.typeStr,jdbcType=CHAR},
      detail_desc = #{record.detailDesc,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dinstar.sim.model.TblDomainGroup" >
    update tbl_domain_group
    <set >
      <if test="domainUuid != null" >
        domain_uuid = #{domainUuid,jdbcType=INTEGER},
      </if>
      <if test="nameCn != null" >
        name_cn = #{nameCn,jdbcType=CHAR},
      </if>
      <if test="nameEn != null" >
        name_en = #{nameEn,jdbcType=CHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="typeStr != null" >
        type_str = #{typeStr,jdbcType=CHAR},
      </if>
      <if test="detailDesc != null" >
        detail_desc = #{detailDesc,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dinstar.sim.model.TblDomainGroup" >
    update tbl_domain_group
    set domain_uuid = #{domainUuid,jdbcType=INTEGER},
      name_cn = #{nameCn,jdbcType=CHAR},
      name_en = #{nameEn,jdbcType=CHAR},
      type = #{type,jdbcType=INTEGER},
      type_str = #{typeStr,jdbcType=CHAR},
      detail_desc = #{detailDesc,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where uuid = #{uuid,jdbcType=INTEGER}
  </update>
</mapper>