<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dinstar.sim.dao.TblLicPaidCardMapper" >
  <resultMap id="BaseResultMap" type="com.dinstar.sim.model.TblLicPaidCard" >
    <id column="uuid" property="uuid" jdbcType="INTEGER" />
    <result column="card_sn" property="cardSn" jdbcType="CHAR" />
    <result column="rec_status" property="recStatus" jdbcType="INTEGER" />
    <result column="alias" property="alias" jdbcType="CHAR" />
    <result column="card_status" property="cardStatus" jdbcType="INTEGER" />
    <result column="card_pwd" property="cardPwd" jdbcType="CHAR" />
    <result column="card_type" property="cardType" jdbcType="INTEGER" />
    <result column="card_price" property="cardPrice" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="expired_date" property="expiredDate" jdbcType="TIMESTAMP" />
    <result column="used_sys_uuid" property="usedSysUuid" jdbcType="INTEGER" />
    <result column="used_domain_uuid" property="usedDomainUuid" jdbcType="INTEGER" />
    <result column="used_time" property="usedTime" jdbcType="TIMESTAMP" />
    <result column="detail_desc" property="detailDesc" jdbcType="CHAR" />
	<!-- add for read object name -->	
    <result column="used_sys_name" property="usedSysName" jdbcType="CHAR" />
    <result column="used_domain_name" property="usedDomainName" jdbcType="CHAR" />
  </resultMap>
  <!--###########################################自定义 begin ##########################################  -->
   <select id="selectWithNameByExample" resultMap="BaseResultMap" parameterType="com.dinstar.sim.model.TblLicPaidCardCriteria" >
    select
    tlp.*,
	CASE td.name is NULL
	WHEN TRUE
	THEN
		CASE tlp.used_sys_uuid >0 
		WHEN TRUE
			THEN '-'
		END
	ELSE td.`name`
	END used_domain_name,
	CASE ts.`name` IS NULL
	WHEN TRUE
	THEN	
		CASE tlp.used_domain_uuid>0
		WHEN TRUE
			THEN '-'
		END
	ELSE
		ts.`name`
	END as used_sys_name
	
    from tbl_lic_paid_card tlp 
    left join tbl_domain td on (tlp.used_domain_uuid=td.uuid) 
    left join tbl_sys ts on (tlp.used_sys_uuid=ts.uuid)
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClause != null">limit ${limitClause}</if>
  </select>
  
  <select id="selectByPrimaryKeyForUpdate" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_lic_paid_card
    where uuid = #{uuid,jdbcType=INTEGER}
    for update
  </select>
  
   <!--###########################################自定义 end ##########################################  -->
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    uuid, card_sn, rec_status, alias, card_status, card_pwd, card_type, card_price, create_time, 
    update_time, expired_date, used_sys_uuid, used_domain_uuid, used_time, detail_desc
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dinstar.sim.model.TblLicPaidCardCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_lic_paid_card
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClause != null">limit ${limitClause}</if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_lic_paid_card
    where uuid = #{uuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_lic_paid_card
    where uuid = #{uuid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dinstar.sim.model.TblLicPaidCardCriteria" >
    delete from tbl_lic_paid_card
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dinstar.sim.model.TblLicPaidCard" useGeneratedKeys="true" keyProperty="uuid" >
    insert into tbl_lic_paid_card (uuid, card_sn, rec_status, 
      alias, card_status, card_pwd, 
      card_type, card_price, create_time, 
      update_time, expired_date, used_sys_uuid, 
      used_domain_uuid, used_time, detail_desc
      )
    values (#{uuid,jdbcType=INTEGER}, #{cardSn,jdbcType=CHAR}, #{recStatus,jdbcType=INTEGER}, 
      #{alias,jdbcType=CHAR}, #{cardStatus,jdbcType=INTEGER}, #{cardPwd,jdbcType=CHAR}, 
      #{cardType,jdbcType=INTEGER}, #{cardPrice,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{expiredDate,jdbcType=TIMESTAMP}, #{usedSysUuid,jdbcType=INTEGER}, 
      #{usedDomainUuid,jdbcType=INTEGER}, #{usedTime,jdbcType=TIMESTAMP}, #{detailDesc,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dinstar.sim.model.TblLicPaidCard" useGeneratedKeys="true" keyProperty="uuid">
    insert into tbl_lic_paid_card
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="cardSn != null" >
        card_sn,
      </if>
      <if test="recStatus != null" >
        rec_status,
      </if>
      <if test="alias != null" >
        alias,
      </if>
      <if test="cardStatus != null" >
        card_status,
      </if>
      <if test="cardPwd != null" >
        card_pwd,
      </if>
      <if test="cardType != null" >
        card_type,
      </if>
      <if test="cardPrice != null" >
        card_price,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="expiredDate != null" >
        expired_date,
      </if>
      <if test="usedSysUuid != null" >
        used_sys_uuid,
      </if>
      <if test="usedDomainUuid != null" >
        used_domain_uuid,
      </if>
      <if test="usedTime != null" >
        used_time,
      </if>
      <if test="detailDesc != null" >
        detail_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=INTEGER},
      </if>
      <if test="cardSn != null" >
        #{cardSn,jdbcType=CHAR},
      </if>
      <if test="recStatus != null" >
        #{recStatus,jdbcType=INTEGER},
      </if>
      <if test="alias != null" >
        #{alias,jdbcType=CHAR},
      </if>
      <if test="cardStatus != null" >
        #{cardStatus,jdbcType=INTEGER},
      </if>
      <if test="cardPwd != null" >
        #{cardPwd,jdbcType=CHAR},
      </if>
      <if test="cardType != null" >
        #{cardType,jdbcType=INTEGER},
      </if>
      <if test="cardPrice != null" >
        #{cardPrice,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expiredDate != null" >
        #{expiredDate,jdbcType=TIMESTAMP},
      </if>
      <if test="usedSysUuid != null" >
        #{usedSysUuid,jdbcType=INTEGER},
      </if>
      <if test="usedDomainUuid != null" >
        #{usedDomainUuid,jdbcType=INTEGER},
      </if>
      <if test="usedTime != null" >
        #{usedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detailDesc != null" >
        #{detailDesc,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dinstar.sim.model.TblLicPaidCardCriteria" resultType="java.lang.Integer" >
    select count(*) from tbl_lic_paid_card
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_lic_paid_card
    <set >
      <if test="record.uuid != null" >
        uuid = #{record.uuid,jdbcType=INTEGER},
      </if>
      <if test="record.cardSn != null" >
        card_sn = #{record.cardSn,jdbcType=CHAR},
      </if>
      <if test="record.recStatus != null" >
        rec_status = #{record.recStatus,jdbcType=INTEGER},
      </if>
      <if test="record.alias != null" >
        alias = #{record.alias,jdbcType=CHAR},
      </if>
      <if test="record.cardStatus != null" >
        card_status = #{record.cardStatus,jdbcType=INTEGER},
      </if>
      <if test="record.cardPwd != null" >
        card_pwd = #{record.cardPwd,jdbcType=CHAR},
      </if>
      <if test="record.cardType != null" >
        card_type = #{record.cardType,jdbcType=INTEGER},
      </if>
      <if test="record.cardPrice != null" >
        card_price = #{record.cardPrice,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expiredDate != null" >
        expired_date = #{record.expiredDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.usedSysUuid != null" >
        used_sys_uuid = #{record.usedSysUuid,jdbcType=INTEGER},
      </if>
      <if test="record.usedDomainUuid != null" >
        used_domain_uuid = #{record.usedDomainUuid,jdbcType=INTEGER},
      </if>
      <if test="record.usedTime != null" >
        used_time = #{record.usedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.detailDesc != null" >
        detail_desc = #{record.detailDesc,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_lic_paid_card
    set uuid = #{record.uuid,jdbcType=INTEGER},
      card_sn = #{record.cardSn,jdbcType=CHAR},
      rec_status = #{record.recStatus,jdbcType=INTEGER},
      alias = #{record.alias,jdbcType=CHAR},
      card_status = #{record.cardStatus,jdbcType=INTEGER},
      card_pwd = #{record.cardPwd,jdbcType=CHAR},
      card_type = #{record.cardType,jdbcType=INTEGER},
      card_price = #{record.cardPrice,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      expired_date = #{record.expiredDate,jdbcType=TIMESTAMP},
      used_sys_uuid = #{record.usedSysUuid,jdbcType=INTEGER},
      used_domain_uuid = #{record.usedDomainUuid,jdbcType=INTEGER},
      used_time = #{record.usedTime,jdbcType=TIMESTAMP},
      detail_desc = #{record.detailDesc,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dinstar.sim.model.TblLicPaidCard" >
    update tbl_lic_paid_card
    <set >
      <if test="cardSn != null" >
        card_sn = #{cardSn,jdbcType=CHAR},
      </if>
      <if test="recStatus != null" >
        rec_status = #{recStatus,jdbcType=INTEGER},
      </if>
      <if test="alias != null" >
        alias = #{alias,jdbcType=CHAR},
      </if>
      <if test="cardStatus != null" >
        card_status = #{cardStatus,jdbcType=INTEGER},
      </if>
      <if test="cardPwd != null" >
        card_pwd = #{cardPwd,jdbcType=CHAR},
      </if>
      <if test="cardType != null" >
        card_type = #{cardType,jdbcType=INTEGER},
      </if>
      <if test="cardPrice != null" >
        card_price = #{cardPrice,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expiredDate != null" >
        expired_date = #{expiredDate,jdbcType=TIMESTAMP},
      </if>
      <if test="usedSysUuid != null" >
        used_sys_uuid = #{usedSysUuid,jdbcType=INTEGER},
      </if>
      <if test="usedDomainUuid != null" >
        used_domain_uuid = #{usedDomainUuid,jdbcType=INTEGER},
      </if>
      <if test="usedTime != null" >
        used_time = #{usedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detailDesc != null" >
        detail_desc = #{detailDesc,jdbcType=CHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=INTEGER}
    
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dinstar.sim.model.TblLicPaidCard" >
    update tbl_lic_paid_card
    set card_sn = #{cardSn,jdbcType=CHAR},
      rec_status = #{recStatus,jdbcType=INTEGER},
      alias = #{alias,jdbcType=CHAR},
      card_status = #{cardStatus,jdbcType=INTEGER},
      card_pwd = #{cardPwd,jdbcType=CHAR},
      card_type = #{cardType,jdbcType=INTEGER},
      card_price = #{cardPrice,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      expired_date = #{expiredDate,jdbcType=TIMESTAMP},
      used_sys_uuid = #{usedSysUuid,jdbcType=INTEGER},
      used_domain_uuid = #{usedDomainUuid,jdbcType=INTEGER},
      used_time = #{usedTime,jdbcType=TIMESTAMP},
      detail_desc = #{detailDesc,jdbcType=CHAR}
    where uuid = #{uuid,jdbcType=INTEGER}
  </update>
</mapper>