<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dinstar.sim.dao.TblNetworkCodeMapper" >
  <resultMap id="BaseResultMap" type="com.dinstar.sim.model.TblNetworkCode" >
    <id column="uuid" property="uuid" jdbcType="INTEGER" />
    <result column="mcc" property="mcc" jdbcType="CHAR" />
    <result column="mnc" property="mnc" jdbcType="CHAR" />
    <result column="mccmnc" property="mccmnc" jdbcType="CHAR" />
    <result column="operator" property="operator" jdbcType="CHAR" />
    <result column="brand" property="brand" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="bands" property="bands" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    uuid, mcc, mnc, mccmnc, operator, brand, status, bands
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dinstar.sim.model.TblNetworkCodeCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_network_code
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_network_code
    where uuid = #{uuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_network_code
    where uuid = #{uuid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dinstar.sim.model.TblNetworkCodeCriteria" >
    delete from tbl_network_code
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dinstar.sim.model.TblNetworkCode" >
    insert into tbl_network_code (uuid, mcc, mnc, mccmnc, 
      operator, brand, status, bands
      )
    values (#{uuid,jdbcType=INTEGER}, #{mcc,jdbcType=CHAR}, #{mnc,jdbcType=CHAR}, #{mccmnc,jdbcType=CHAR}, 
      #{operator,jdbcType=CHAR}, #{brand,jdbcType=CHAR}, #{status,jdbcType=CHAR}, #{bands,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dinstar.sim.model.TblNetworkCode" >
    insert into tbl_network_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="mcc != null" >
        mcc,
      </if>
      <if test="mnc != null" >
        mnc,
      </if>
      <if test="mccmnc != null" >
        mccmnc,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="bands != null" >
        bands,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=INTEGER},
      </if>
      <if test="mcc != null" >
        #{mcc,jdbcType=CHAR},
      </if>
      <if test="mnc != null" >
        #{mnc,jdbcType=CHAR},
      </if>
      <if test="mccmnc != null" >
        #{mccmnc,jdbcType=CHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=CHAR},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="bands != null" >
        #{bands,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dinstar.sim.model.TblNetworkCodeCriteria" resultType="java.lang.Integer" >
    select count(*) from tbl_network_code
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_network_code
    <set >
      <if test="record.uuid != null" >
        uuid = #{record.uuid,jdbcType=INTEGER},
      </if>
      <if test="record.mcc != null" >
        mcc = #{record.mcc,jdbcType=CHAR},
      </if>
      <if test="record.mnc != null" >
        mnc = #{record.mnc,jdbcType=CHAR},
      </if>
      <if test="record.mccmnc != null" >
        mccmnc = #{record.mccmnc,jdbcType=CHAR},
      </if>
      <if test="record.operator != null" >
        operator = #{record.operator,jdbcType=CHAR},
      </if>
      <if test="record.brand != null" >
        brand = #{record.brand,jdbcType=CHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.bands != null" >
        bands = #{record.bands,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_network_code
    set uuid = #{record.uuid,jdbcType=INTEGER},
      mcc = #{record.mcc,jdbcType=CHAR},
      mnc = #{record.mnc,jdbcType=CHAR},
      mccmnc = #{record.mccmnc,jdbcType=CHAR},
      operator = #{record.operator,jdbcType=CHAR},
      brand = #{record.brand,jdbcType=CHAR},
      status = #{record.status,jdbcType=CHAR},
      bands = #{record.bands,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dinstar.sim.model.TblNetworkCode" >
    update tbl_network_code
    <set >
      <if test="mcc != null" >
        mcc = #{mcc,jdbcType=CHAR},
      </if>
      <if test="mnc != null" >
        mnc = #{mnc,jdbcType=CHAR},
      </if>
      <if test="mccmnc != null" >
        mccmnc = #{mccmnc,jdbcType=CHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=CHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="bands != null" >
        bands = #{bands,jdbcType=CHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dinstar.sim.model.TblNetworkCode" >
    update tbl_network_code
    set mcc = #{mcc,jdbcType=CHAR},
      mnc = #{mnc,jdbcType=CHAR},
      mccmnc = #{mccmnc,jdbcType=CHAR},
      operator = #{operator,jdbcType=CHAR},
      brand = #{brand,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR},
      bands = #{bands,jdbcType=CHAR}
    where uuid = #{uuid,jdbcType=INTEGER}
  </update>
</mapper>