	/**{margin:0;padding:0;list-style: none;}
	body{background: #333;overflow: hidden;}*/
	.head-shopcart{width: 180px;height: 30px;line-height: 30px;text-align: left;padding: 0 10px;position: fixed;right: 0px;bottom: 0px;background: #D13131; color:#fff;font-size: 12px;}
	#lanren{width: 430px;height: auto;margin: 100px auto;overflow: hidden;background: #fff;}
	#lanren li{width: 200px;height: auto;float: left;margin:10px 0 0 10px;overflow: hidden;text-align: center;}
	#lanren li img{margin-bottom: 10px;}
	#lanren li a.btn-buy{width: 200px;height: 37px;margin-bottom:10px;display:block;background: url(images/btn-buy.jpg) no-repeat center top #D13131;overflow: hidden;}