<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- tree mapper
 #{domainUuid,mode=IN,jdbcType=INTEGER},#{userType,mode=IN,jdbcType=INTEGER},#{userUuid,mode=IN,jdbcType=INTEGER}
  -->
<mapper namespace="com.dinstar.sim.mapper.Auth">
	  <resultMap id="BaseResultMap" type="com.dinstar.sim.model.DmDcCalc" >
        <id column="uuid" property="uuid" jdbcType="INTEGER" />
    <result column="rec_status" property="recStatus" jdbcType="INTEGER" />
    <result column="sys_uuid" property="sysUuid" jdbcType="INTEGER" />
    <result column="serial_no" property="serialNo" jdbcType="INTEGER" />
    <result column="avg_process_time" property="avgProcessTime" jdbcType="INTEGER" />
    <result column="max_process_time" property="maxProcessTime" jdbcType="INTEGER" />
    <result column="total_process" property="totalProcess" jdbcType="INTEGER" />
    <result column="cur_pending_cnt" property="curPendingCnt" jdbcType="INTEGER" />
    <result column="cur_deal_cnt" property="curDealCnt" jdbcType="INTEGER" />
    <result column="cur_deal_status1" property="curDealStatus1" jdbcType="INTEGER" />
    <result column="cur_deal_status2" property="curDealStatus2" jdbcType="INTEGER" />
    <result column="cur_deal_status3" property="curDealStatus3" jdbcType="INTEGER" />
    <result column="cur_deal_status4" property="curDealStatus4" jdbcType="INTEGER" />
    <result column="generate_time" property="generateTime" jdbcType="TIMESTAMP" />
  </resultMap>
   
	<select id="countDcHis" parameterType="java.util.HashMap" resultType="java.lang.Integer">   
      SELECT count(*) from(
      SELECT generate_time,SUM(cur_deal_status1) as curDealStatus1,SUM(cur_deal_status2) AS curDealStatus2
      ,SUM(cur_deal_status3) as curDealStatus3,SUM(cur_deal_status4) as curDealStatus4,SUM(cur_deal_cnt) as curDealCnt
      ,SUM(cur_pending_cnt) as curPendingCnt,SUM(total_process) as totalProcess,SUM(max_process_time) as maxProcessTime
      ,SUM(avg_process_time) as avgProcessTime
      FROM tbl_pmd_authnum_15
      where 1=1
      <if test="idl!=null">
        and sys_uuid in
      <foreach collection="idl" index="index" item="item" open="(" separator="," close=")">
      #{item}
      </foreach>
      </if>
      <if test="groupBy!=null and groupBy!=''" >             
      GROUP BY ${groupBy}
      </if>
      ) as a
  </select>
 <select id="getDcHis" resultMap="BaseResultMap" parameterType="java.util.HashMap">   
      SELECT generate_time,SUM(cur_deal_status1) as curDealStatus1,SUM(cur_deal_status2) AS curDealStatus2
      ,SUM(cur_deal_status3) as curDealStatus3,SUM(cur_deal_status4) as curDealStatus4,SUM(cur_deal_cnt) as curDealCnt
      ,SUM(cur_pending_cnt) as curPendingCnt,SUM(total_process) as totalProcess,SUM(max_process_time) as maxProcessTime
      ,SUM(avg_process_time) as avgProcessTime
      FROM tbl_pmd_authnum_15
      where 1=1
      <if test="idl!=null">
        and sys_uuid in
      <foreach collection="idl" index="index" item="item" open="(" separator="," close=")">
      #{item}
      </foreach>
      </if>
      <if test="groupBy!=null and groupBy!=''" >             
      GROUP BY ${groupBy}
      </if>
      <if test="orderBy!=null and orderBy!=''" >             
      ORDER BY ${orderBy}
      </if>
      <if test="limit>0" >
        LIMIT #{start},#{limit}
      </if>
  </select> 
</mapper>