<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- sim call mapper -->
<mapper namespace="com.dinstar.sim.mapper.SIMCdr">
	<resultMap type="com.dinstar.sim.mapper.SIMCdr" id="simCdr">
	<id column="uuid" property="uuid" jdbcType="INTEGER" />
    <result column="rec_status" property="recStatus" jdbcType="INTEGER" />
    <result column="imsi" property="imsi" jdbcType="CHAR" />
    <result column="alias" property="alias" jdbcType="CHAR" />
    <result column="admin_status" property="adminStatus" jdbcType="INTEGER" />
    <result column="opr_status" property="oprStatus" jdbcType="INTEGER" />
    <result column="run_status" property="runStatus" jdbcType="INTEGER" />
    <result column="action_status" property="actionStatus" jdbcType="INTEGER" />
    <result column="action_result" property="actionResult" jdbcType="INTEGER" />
    <result column="domain_uuid" property="domainUuid" jdbcType="INTEGER" />
    <result column="grp_uuid" property="grpUuid" jdbcType="INTEGER" />
    <result column="orig_zone_uuid" property="origZoneUuid" jdbcType="INTEGER" />
    <result column="last_site_uuid" property="lastSiteUuid" jdbcType="INTEGER" />
    <result column="bkp_uuid" property="bkpUuid" jdbcType="INTEGER" />
    <result column="lock_gwp_uuid" property="lockGwpUuid" jdbcType="INTEGER" />
    <result column="icc_id" property="iccId" jdbcType="CHAR" />
    <result column="bind_imei" property="bindImei" jdbcType="CHAR" />
    <result column="pin1_code" property="pin1Code" jdbcType="CHAR" />
    <result column="pin2_code" property="pin2Code" jdbcType="CHAR" />
    <result column="puk1_code" property="puk1Code" jdbcType="CHAR" />
    <result column="puk2_code" property="puk2Code" jdbcType="CHAR" />
    <result column="operator" property="operator" jdbcType="CHAR" />
    <result column="mobile" property="mobile" jdbcType="CHAR" />
    <result column="smsc" property="smsc" jdbcType="CHAR" />
    <result column="money_type" property="moneyType" jdbcType="INTEGER" />
    <result column="prepaid_fee" property="prepaidFee" jdbcType="DECIMAL" />
    <result column="total_cost" property="totalCost" jdbcType="DECIMAL" />
    <result column="cur_balance" property="curBalance" jdbcType="REAL" />
    <result column="left_call_time" property="leftCallTime" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_load_time" property="lastLoadTime" jdbcType="TIMESTAMP" />
    <result column="last_bind_time" property="lastBindTime" jdbcType="TIMESTAMP" />
    <result column="last_used_time" property="lastUsedTime" jdbcType="TIMESTAMP" />
    <result column="deactive_reason" property="deactiveReason" jdbcType="INTEGER" />
    <result column="last_deactive_reason" property="lastDeactiveReason" jdbcType="INTEGER" />
    <result column="blocked_flag" property="blockedFlag" jdbcType="INTEGER" />
    <result column="low_balance_flag" property="lowBalanceFlag" jdbcType="INTEGER" />
    <result column="no_balance_flag" property="noBalanceFlag" jdbcType="INTEGER" />

	<result column="promotion_status" property="promotionStatus" jdbcType="INTEGER" />
	
	 <result column="cdr_uuid" property="cdrUuid" jdbcType="INTEGER" />
    <result column="cdr_rec_status" property="cdrRecStatus" jdbcType="INTEGER" />
    <result column="cdr_domain_uuid" property="cdrDomainUuid" jdbcType="INTEGER" />
    <result column="call_index" property="callIndex" jdbcType="INTEGER" />
    <result column="call_sn" property="callSn" jdbcType="INTEGER" />
     <result column="user_task_type" property="userTaskType" jdbcType="INTEGER" />
    <result column="user_task_id" property="userTaskId" jdbcType="INTEGER" />
    <result column="cdr_alias" property="cdrAlias" jdbcType="CHAR" />
    <result column="gwp_uuid" property="gwpUuid" jdbcType="INTEGER" />
    <result column="sim_uuid" property="simUuid" jdbcType="INTEGER" />
    <result column="call_direction" property="callDirection" jdbcType="INTEGER" />
    <result column="call_number" property="callNumber" jdbcType="CHAR" />
    <result column="pdd_timelen" property="pddTimelen" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="active_time" property="activeTime" jdbcType="TIMESTAMP" />
    <result column="result_time" property="resultTime" jdbcType="TIMESTAMP" />
    <result column="duration" property="duration" jdbcType="INTEGER" />
     <result column="billing_sec" property="billingSec" jdbcType="INTEGER" />
    <result column="call_status" property="callStatus" jdbcType="INTEGER" />
    <result column="gsm_code" property="gsmCode" jdbcType="INTEGER" />
    <result column="call_result" property="callResult" jdbcType="INTEGER" />
    <result column="cdr_flag" property="cdrFlag" jdbcType="INTEGER" />
    
    <result column="caller_number" property="callerNumber" jdbcType="VARCHAR" />
    <result column="src_ip" property="srcIp" jdbcType="VARCHAR" />
    <result column="hangup_side" property="hangupSide" jdbcType="INTEGER" />
    <result column="end_reason" property="endReason" jdbcType="VARCHAR" />
    
    <result column="gwp_port_no_str" property="gwpPortNoStr" jdbcType="CHAR" />
  </resultMap>	    
  
   <select id="getSimCdr" resultMap="simCdr" >
    	select ts.*,
		tc.uuid as cdr_uuid,tc.rec_status as cdr_rec_status,tc.domain_uuid as cdr_domain_uuid,
		tc.call_index,tc.call_sn,tc.user_task_type,tc.user_task_id,tc.alias as cdr_alias,tc.gwp_uuid,tc.sim_uuid,
		tc.call_direction,tc.call_number,tc.pdd_timelen,tc.start_time,
		tc.active_time,tc.result_time,tc.duration,tc.call_status,tc.call_result,tc.cdr_flag,tc.gsm_code,tc.billing_sec,
		tc.caller_number,tc.src_ip,tc.hangup_side,tc.end_reason,
		CASE tc.gwp_uuid 
				WHEN 0 
				THEN NULL
				WHEN NULL
				THEN NULL
				ELSE
				(select
					CASE tn.alias 
					WHEN NULL
					THEN 
					CONCAT(tn.product_sn,'[',tp.port_no,']')
					WHEN ''
					THEN
					CONCAT(tn.product_sn,'[',tp.port_no,']')
					ELSE
					CONCAT(tn.alias,'[',tp.port_no,']')
					END
					from tbl_ne tn ,tbl_port tp, tbl_gwp gwp 
					where tn.uuid=tp.ne_uuid and tp.uuid=gwp.port_uuid and gwp.uuid=tc.gwp_uuid )
				END as gwp_port_no_str
		from tbl_sim ts,tbl_cdr tc 
		where ts.uuid=tc.sim_uuid and ts.rec_status!=2
		and tc.domain_uuid=#{domainUuid}
		 and ts.domain_uuid=#{domainUuid}
		 and ts.grp_uuid=#{grpUuid}
		
		<if test="imsi !=null">
		 and ts.imsi like #{imsi}
		</if>
		<if test="alias !=null">
		 and ts.alias like #{alias}
		</if>
		<if test="callStatus!=null">
		 and tc.call_status=#{callStatus}
		</if>
		<if test="callResult!=null">
		 and tc.call_result=#{callResult}
		</if>
		<if test="callNumber !=null">
		 and tc.call_number like #{callNumber}
		</if>
		<if test="callDirection !=null">
		 and tc.call_direction = #{callDirection}
		</if>
		<if test="startTimeB !=null">
			<![CDATA[ 
			 and tc.start_time >= #{startTimeB}
			 ]]>
		</if>
		<if test="startTimeE !=null">
			<![CDATA[
			 and tc.start_time <= #{startTimeE}
			]]>
		</if>
		<if test="resultTimeB !=null">
			<![CDATA[ 
			 and tc.result_time >= #{resultTimeB}
			 ]]>
		</if>
		<if test="resultTimeE !=null">
			<![CDATA[
			 and tc.result_time <= #{resultTimeE}
			]]>
		</if>
				<if test="sort != null" >
     		 order by ${sort}
    	</if> 
		<if test="limit>0">LIMIT #{start},#{limit}</if>
  </select>
   <select id="countSimCdr" resultType="java.lang.Integer" >
    	select count(*)
		from tbl_sim ts , tbl_cdr tc 
		where 
		ts.uuid=tc.sim_uuid and ts.rec_status!=2
		and tc.domain_uuid=#{domainUuid}
		 and ts.domain_uuid=#{domainUuid}
		 and ts.grp_uuid=#{grpUuid}
		
		<if test="imsi !=null">
		 and ts.imsi like #{imsi}
		</if>
		<if test="alias !=null">
		 and ts.alias like #{alias}
		</if>
		<if test="callStatus!=null">
		 and tc.call_status=#{callStatus}
		</if>
		<if test="callResult!=null">
		 and tc.call_result=#{callResult}
		</if>
		<if test="callNumber !=null">
		 and tc.call_number like #{callNumber}
		</if>
		<if test="callDirection !=null">
		 and tc.call_direction = #{callDirection}
		</if>
		<if test="startTimeB !=null">
			<![CDATA[ 
			 and tc.start_time >= #{startTimeB}
			 ]]>
		</if>
		<if test="startTimeE !=null">
			<![CDATA[
			 and tc.start_time <= #{startTimeE}
			]]>
		</if>
		<if test="resultTimeB !=null">
			<![CDATA[ 
			 and tc.result_time >= #{resultTimeB}
			 ]]>
		</if>
		<if test="resultTimeE !=null">
			<![CDATA[
			 and tc.result_time <= #{resultTimeE}
			]]>
		</if>
		
  </select>
  
   <delete id="deleteSimCdr" >
    	delete tc 
		from tbl_sim ts,tbl_cdr tc 
		where ts.uuid=tc.sim_uuid
		and ts.rec_status!=2
	
		 and ts.domain_uuid=#{domainUuid}
		 and ts.grp_uuid=#{grpUuid}
		
		<if test="imsi !=null">
		 and ts.imsi like #{imsi}
		</if>
		<if test="callStatus!=null">
		 and tc.call_status=#{callStatus}
		</if>
		<if test="callResult!=null">
		 and tc.call_result=#{callResult}
		</if>
		<if test="callNumber !=null">
		 and tc.call_number like #{callNumber}
		</if>
		<if test="callDirection !=null">
		 and tc.call_direction = #{callDirection}
		</if>
		<if test="startTimeB !=null">
			<![CDATA[ 
			 and tc.start_time >= #{startTimeB}
			 ]]>
		</if>
		<if test="startTimeE !=null">
			<![CDATA[
			 and tc.start_time <= #{startTimeE}
			]]>
		</if>
		<if test="resultTimeB !=null">
			<![CDATA[ 
			 and tc.result_time >= #{resultTimeB}
			 ]]>
		</if>
		<if test="resultTimeE !=null">
			<![CDATA[
			 and tc.result_time <= #{resultTimeE}
			]]>
		</if>
		
  </delete>
   
    
</mapper>